.content-page-wrapper {
  width: 100vw;
  height: calc(100vh - 86px);
  display: grid;
  grid-template-columns: 1fr 1fr;

  .right-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;

    .contact-bullet-points {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 21px;

      .bullet-point-group {
        display: flex;
        align-items: center;

        .icon {
          font-size: 2em;
          color: $teal;
        }

        .text {
          font-size: 1.5em;
          font-weight: 900;
          margin-left: 21px;
        }
      }
    }

    a {
      color: $teal;
      text-decoration: none;
      transition: 0.5s ease-in-out;

      &:hover {
        color: $dark-teal;
      }
    }
  }
}

@media (max-width: 615px) {
  .content-page-wrapper {
    grid-template-columns: 1fr;

    .left-column {
      margin: 0px calc((100vw - 400px) / 2);
      width: 400px;
      height: 400px;
    }

    .right-column {
      padding: 42px calc((100vw - 400px) / 2);
    }
  }
}
